
  <div class="quarter pull-left">
    <h4>Crew:</h4>
    <% @astronauts.each do |astronaut| %>
    <p><%= astronaut.name %></p>
    <p><%= astronaut.role.name %></p>
    <p></p>
    <% end %>
  </div>
  <div class="three-quarter pull-right">
    <div id="main-screen">
      <p><%= @challenges.first.message %></p>
    </div>
    <div id="response-screen">
      <p></p>
    </div>
  </div>

