<label for="mission_name">Name</label>
<input id="mission_name" class="form-control half" name="mission[name]" type="text" value="<%= @mission.name %>">
<label for="mission_message">Mission Message</label>
<textarea rows="4" id="mission_message" class="form-control half" name="mission[message]" type="text"><%= @mission.message %></textarea>
<label for="mission_number">Mission Number</label>
<input id="mission_number" class="form-control half" name="mission[number]" type="text" value="<%= @mission.number %>">
